[submodule "deps/OpenGL-Registry"]
	path = deps/OpenGL-Registry
	url = https://github.com/KhronosGroup/OpenGL-Registry
[submodule "deps/Vulkan-Headers"]
	path = deps/Vulkan-Headers
	url = https://github.com/KhronosGroup/Vulkan-Headers.git
